<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
                <button type="button" class="close" ng-click="vm.closeRecover()" aria-hidden="true"
                        style="color: white;">&nbsp;x&nbsp;</button>
                <h4 class="modal-title sckola-modal-title color-white">Recuperar Contraseña</h4>
    </div>
    <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form role="form" name="form" id="form" class="form-group" novalidate>
                            <div  class="form-horizontal" style="margin-left: 10%">
                                <label for="email" class="col-sm-3 color-white">
                                    Correo Electrónico</label>
                                <div class="col-sm-7">
                                    <input style="margin-left: 2%" type="email" class="form-control" id="email" name="email" required
                                           placeholder="Ingrese su correo"
                                           maxlength="255"
                                           minlength="6"
                                           ng-change="vm.emailValidation(form.email)"
                                           ng-model="vm.newUser.mail"
                                           ng-pattern="/^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/"/>
                                    <div ng-messages="form.email.$error">
                                        <div ng-message="required" class="color-white">Este campo es requerido</div>
                                        <div ng-message="email" style="font-size: 16px; color: red;" ng-show="vm.error">No es un correo valido</div>
                                        <div ng-message="minlength" style="font-size: 16px; color: #faaf40;" ng-show="vm.warning">
                                            El correo es demasiado corto</div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
    </div>

    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-12" style="display: inline-block; text-align: center">
                <button type="button" class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                        ng-click="vm.recoverPassword()"
                        ng-disabled="form.$invalid"
                        style="margin-top:0%;">Recuperar</button>
            </div>
        </div>
    </div>
</div>
