
<br/><br/><br/>

<img src="{{vm.usuario.foto}}" border="4" class="profile-image"/>
<div>
<label class="profile-name color-white" ng-click="vm.goToProfile()"> {{vm.usuario.firstName}}
<br/>
{{vm.usuario.lastName}}</label>
</div>
<ul class="menu list-group side-menu-list" id="accordion1">
    <li class="list-group-item list-item-menu item-menu" ng-click="vm.goToUploadNotes()" style="background-color: inherit;border: none;" ><span class="glyphicon glyphicon-folder-open pull-left" style="margin-right: 10px;" ></span> Notas </li>
    <li class="list-group-item list-item-menu item-menu" ng-click="vm.goToAssistances()" style="background-color: inherit;border: none;"><span class="glyphicon glyphicon-ok pull-left " style="margin-right: 10px;"></span> Asistencia </li>
    <li class="list-group-item list-item-menu item-menu" style="background-color: inherit;border: none;"><span class="glyphicon glyphicon-stats pull-left " style="margin-right: 10px;"></span> Reportes </li>
    <li class="list-group-item list-item-menu item-menu" style="background-color: inherit;border: none;margin-top: 210px;"><span class="glyphicon glyphicon-question-sign pull-left " style="margin-right: 10px;"></span> Ayuda </li>
</ul>

<!---
<div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <header class="demo-drawer-header">
        <img src="images/user.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
            <span>posma@posma.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                <i class="material-icons" role="presentation">arrow_drop_down</i>
                <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item">hello@example.com</li>
                <li class="mdl-menu__item">info@example.com</li>
                <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
        </div>
    </header>

    <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>Notas</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Asistencia</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assessment</i>Reportes</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Social</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span>Ayuda</a>
    </nav>

</div>

</div>

--->