<form role="form" name="formNewMateria" novalidate>
<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <label class="sckola-modal-title color-white">Nueva Clase</label>
    </div>
    <div class=" row modal-body">
        <div class="form-group col-sm-12" ng-show="vm.communityUserView">
            <div class="col-sm-3 color-white font-large">Mis comunidades:</div>
            <div class="col-sm-9">
                <div ng-class="{mostrar: true == vm.validarCommunitySelect}">
                    <span class="circulo" ng-class="{mostrar: true == vm.validarCommunitySelect}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                    <span class="tooltipstext" ng-class="{mostrar: true == vm.validarCommunitySelect}">Seleccione la Comunidad</span>
                    <div class="tooltips" ng-class="{mostrar: true == vm.validarCommunitySelect}" ></div>
                </div>
                <select ng-model="vm.communitySelect" name="community"
                        ng-options="community.name for community in vm.communitiesUser" class="form-control center-block"
                        ng-change="vm.changeCommunity(); vm.validarClase()">
                    <option value="">-- Seleccione una Comunidad --</option>

                </select>
            </div>
        </div>
        <div ng-hide="vm.viewTeacher">
        <div class="form-group col-sm-12 form-horizontal-login">
            <div class="col-sm-3 color-white font-large" style="height: 80px; width: 25%;"><label class="animate-show-hide" ng-show="!vm.materia">Materia de mi comunidad:</label>
            <label class="animate-show-hide" ng-show="vm.matterGeneral">Todas las Materias:</label></div>
            <!--<div class="col-sm-3 color-white font-large" ></div>-->
            <div class="col-sm-9 form-horizontal-login" ng-hide="vm.materia" style="width: 75%">
                <div class="col-sm-11" style="width: 90%;">
                    <div ng-class="{mostrar: true == vm.validarCommunityNew}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validarCommunityNew}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarCommunityNew}">Seleccione la materia</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarCommunityNew}" ></div>
                    </div>
                <select ng-model="vm.matterCommunity" name="matter" ng-change="vm.validarClaseNew()"
                        ng-options="matterCommunity.name for matterCommunity in vm.mattersCommunitys"
                        class="form-control center-block" style="padding: 0px 18px">
                    <option value="">-- Seleccione la materia --</option>
                </select></div>
                <div class="col-sm-1" style="padding-left: 0px; padding-top: 8px; width: 10%;">
                <span class="glyphicon glyphicon-globe color-white" style="vertical-align: middle" ng-click="vm.labelMatterModalTransition()"></span>
                </div>
            </div>
            <div class="col-sm-9 form-horizontal-login" ng-show="vm.materia" style="width: 75%">
                <div class="col-sm-11" style="width: 90%;">
                    <div ng-class="{mostrar: true == vm.validarMatter}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validarMatter}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarMatter}">Seleccione la materia</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarMatter}" ></div>
                    </div>
                <select ng-model="vm.matter" name="matters" ng-change="vm.validarClaseOld()"
                        ng-options="matter.name for matter in vm.matters"
                        class="form-control center-block" style="padding: 0px 18px">
                    <option value="">-- Seleccione la materia --</option>
                </select></div>
                <div class="col-sm-1 " style="padding-left: 0px; padding-top: 8px; width: 10%;">
                    <span class="glyphicon glyphicon-globe color-white" style="vertical-align: middle" ng-click="vm.labelMatterModalTransition()"></span>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-12 form-horizontal-login" style="margin-top:5px;">
            <div class="col-sm-6 color-white font-large" >¿Crear nueva Sección?</div>
            <div class="col-sm-6 " >
                <div class="form-horizontal-login">
                    <div ng-class="{mostrar: true == vm.validarTypeSeccion}">
                        <span class="circulo" ng-class="{mostrar: true == vm.validarTypeSeccion}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext" ng-class="{mostrar: true == vm.validarTypeSeccion}">Seleccione el tipo de sección</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarTypeSeccion}" ></div>
                    </div>
                    <label ng-repeat="n in [{'value':'Si','type':true},{'value':'No','type':false}]" class="col-sm-2">
                        <input ng-click="vm.sectionTransition();vm.validarTipoSeccion()"  type="radio" name="pageSets" ng-model="vm.seccion" ng-value="n.type" /><span class="color-white font-large">{{n.value}}</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-12 form-horizontal-login" style="margin-top:5px;">
            <div class="col-sm-3 color-white font-large animate-show-hide" ng-show="vm.sectionLabel">Sección:</div>
            <div class="col-sm-9 animate-show-hide" style="width:100%; height:39px" ng-show="vm.sectionLabel">
                <div ng-class="{mostrar: vm.section == vm.validarTypeSeccion}">
                    <span class="circulo tooltipsCirculo-modal-matter" ng-class="{mostrar: vm.section == vm.validarSection}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                    <span class="tooltipstext" ng-class="{mostrar: vm.section == vm.validarSection}">Seleccione la sección</span>
                    <div class="tooltips" ng-class="{mostrar: vm.section == vm.validarSection}" ></div>
                </div>
                <select ng-model="vm.sectionByCommunity" name="sectionByCommunity" ng-show="vm.section" required
                        ng-options="sectionByCommunity.name for sectionByCommunity in vm.sectionsByCommunity"
                        class="form-control center-block animate-show-hide" ng-change="vm.validarSectionselect()" style="padding: 0px 18px">
                    <option value="">-- Seleccione la Sección --</option>
                </select>
                <div ng-class="{mostrar: vm.newSection == vm.validarSectionIn}">
                    <span class="circulo" ng-class="{mostrar: vm.newSection == vm.validarSectionIn}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                    <span class="tooltipstext tooltiptext-modal-matter" ng-class="{mostrar: vm.newSection == vm.validarSectionIn}">Escriba la seccion</span>
                    <div class="tooltips" ng-class="{mostrar: vm.newSection == vm.validarSectionIn}" ></div>
                </div>
                  <input type="text" ng-change="vm.validarSectioninput()" ng-model="vm.nameSection" id="secciónMateria" class="form-control animate-show-hide" ng-show="vm.newSection" />
            </div>
        </div>
        <!--<div class="form-group col-sm-12 animate-show-hide" ng-show="vm.newSection">
            <div class="col-sm-3 color-white font-large" >Sección:</div>
            <div class="col-sm-9" >

            </div>
        </div>-->
        <div class="col-sm-12 form-horizontal-login" style="margin-top:5px;">
            <div class="col-sm-6 color-white font-large" >¿Sección Integral?</div>
            <div class="col-sm-6" >
                <div>
                    <div ng-class="{mostrar: true == vm.validarTypeSeccion}">
                        <span class="circulo tooltipsCirculo-modal-matter" ng-class="{mostrar: true == vm.validarSection}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                        <span class="tooltipstext tooltiptext-modal-matter" ng-class="{mostrar: true == vm.validarSection}">Seleccione si la seccion es integral</span>
                        <div class="tooltips" ng-class="{mostrar: true == vm.validarSection}" ></div>
                    </div>
                    <label ng-repeat="s in [{'value':'Si','type':'INTEGRAL'},{'value':'No','type':'NON_INTEGRAL'}]" class="col-sm-2" >
                        <input  type="radio" name="pageSet" ng-click="vm.validarSectionIntegral()" ng-model="vm.sectionIntegral" ng-value="s.type" /><span class="color-white font-large">{{s.value}}</span>
                    </label>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="float: left;margin-top:0%;" class="btn btn-default sckola-btn modal-list-btn btn-matter btn-matter-modal" ng-click="vm.cancel()">Cerrar <span class="glyphicon glyphicon-remove"></span></button>
        <button ng-disabled="vm.sectionIntegral === null " class="btn btn-default sckola-btn modal-list-btn btn-matter btn-matter-modal" style="float: right;margin-top:0;"  ng-click="vm.saveMatter()">Guardar<span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
</form>
