<br/><br/>
<div set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Estudiantes</label>
    <br>
    <div class="col-sm-12" style="height: 75px;">
        <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             ng-click="vm.helpUser()"
             role="alert">
            <label >{{vm.helpMessage}}</label>
        </div>
        <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
             ng-show="vm.showError" role="alert">
             {{vm.errorMessage}}
        </div>
    </div>
    <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.communityMatters.length === 0" role="alert">
      <label >No existe ninguna clase en esta comunidad. ¡Crea una clase para invitar estudiantes!</label>
    </div>-->
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
        <form role="form" name="formStudents" class="form-horizontal">

            <div class="col-sm-offset-1" style="width:95%">

            <ul class="list-group list-group-section">
                <li class="list-group-item initial-message ember-view col-sm-12" ng-show="vm.showMessageInitial">
                  <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.showMessageInitial && !vm.messageClaseShow" role="alert">
                    <label >{{vm.messageInitial}}</label>
                  </div>-->


                </li>
                <li ng-repeat="class in vm.communityMatters| orderBy:'matterCommunity.name'" ng-hide="vm.showMessageInitial" class="list-group-item list-group-section-item ember-view col-sm-12">
                    <div class="col-sm-12 alignMiddler div-container" style="margin-bottom:2%" ng-click="vm.selectClass(class)">
                        <div  class="col-sm-2" style="width: 20%">
                            <a class=" EntityPhoto-circle-3">
                                <img src="static/images/book.png" class="list-group-section-image">
                            </a>
                        </div>
                        <div class="form-horizontal-login div-list-content" style="width: 80%;">
                        <div class="col-sm-6 alignText color-white" style="width: 50%">
                            <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                {{class.matterCommunity.name}}
                            </label>
                        </div>
                        <div class="col-sm-3 alignText color-white div-list">
                            <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                                {{class.section.name}}
                            </label>
                        </div>
                        <div class="col-sm-2 alignText div-list">
                            <span class="circle-blue list-group-section-circle shadow-feed-element" title="cantidad de estudiantes">{{class.section.countStudent}}</span>
                        </div>
                        </div>
                    </div>
                    <div ng-show="class.status" class="animate-show-hide div-container-sub">

                        <ul class="list-group" style="margin-top:5%;">
                            <li ng-repeat="student in class.students| orderBy:'firstName'" class="list-group-item list-group-section-item ember-view col-sm-12" style="width: 100%; display: flex;">
                                <div  class="col-sm-2" style="width: 20%; padding-left: 0;">
                                    <a class="feed-s-pymk-list-item__profile-link ember-view">
                                        <img src="static/images/ghostPerson.png" class="list-group-section-image" >
                                    </a>
                                </div>
                                <div class="alignMiddler" style="display: flex; width: 80%">
                                    <div class="col-sm-6 alignText div-student-name">
                                        <label class="feed-s-pymk-list-item__profile-link ember-view">
                                            <h4 class="color-white font-large" >{{student.firstName}} {{student.secondName}} {{student.lastName}} {{student.secondLastName}}</h4>
                                        </label>
                                        <p class="color-white font-large student-mail-list" style="word-break: break-word;">
                                            {{student.mail}}
                                        </p>
                                    </div>
                                    <div class="col-sm-4 div-student-buttom">
                                        <button class="btn btn-default sckola-btn button-des" style="width: 100%;margin-top: 18%;box-shadow: 2px 3px 2px 2px #403a3a; padding: 9px 10px;" ng-click="vm.studentMatterDesasociar(student)">
                                            <span aria-hidden="true">Desasociar</span>
                                        </button>
                                    </div></div>
                            </li>
                        </ul>
                        <div class="alert alert-info sckola-alert-info alert-notify animate-show-hide" ng-show="class.students.length === 0" role="alert" style="display:flex;">
                          <label >No existen estudiantes en esta sección. ¡Invita estudiantes!</label>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-default sckola-btn pull-right shadow-feed-element" style="margin-top: 2%;"  ng-click="vm.studentMatterInvitation(class)">
                                <span aria-hidden="true">Añadir</span>
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
                <br>
                <br>
            <button ng-hide="vm.showMessageInitial" class="btn btn-default sckola-btn pull-right shadow-feed-element" style="width: auto;margin-right: 20%;margin-top: 5%;margin-bottom: 2%;" ng-click="$state.go('studentsNew')">
                <span aria-hidden="true">Invitar Estudiante</span>
            </button>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>
