<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header" ng-show="vm.title !== undefined || vm.title !== ''">
        <button type="button" class="close" ng-click="vm.close()" aria-hidden="true"
                style="color: white;">&nbsp;x&nbsp;</button>
        <h4 class="modal-title sckola-modal-title color-white">{{vm.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="modal-title"  ng-hide="vm.title !== undefined || vm.title !== ''">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        style="color: white;">&nbsp;x&nbsp;</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                    <div class="color-white" style="text-align: center; font-size:large;" ng-show="vm.message !== undefined || vm.message !== ''">
                        {{ vm.message }}
                    </div>
                    <div class="color-white" style="text-align: center;font-size:large;" ng-show="vm.message2 !== undefined || vm.message2 !== ''">
                        {{ vm.message2 }}
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <div class="col-sm-12" style="display: inline-block; text-align: center">
            <button class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                    ng-show="vm.acceptButton"
                    type="button"
                    ng-click="vm.accept()"
                    style="margin-top:0%;">Aceptar</button>

            <button class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                    ng-show="vm.cancelButton"
                    type="button"
                    ng-click="vm.cancel()"
                    style="margin-top:0%;">Cancelar</button>

            <button class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                    ng-show="vm.okButton"
                    type="button"
                    ng-click="vm.ok()"
                    style="margin-top:0%;">Ok <span class="glyphicon glyphicon-ok"></span></button>

            <button class="btn btn-default sckola-btn modal-list-btn animate-show-hide"
                    ng-show="vm.okGo"
                    type="button"
                    ng-click="vm.go()"
                    style="margin-top:0%;">Ok</button>
        </div>
    </div>
</div>
