<section class="mbr-navbar mbr-navbar--freeze mbr-navbar--absolute mbr-navbar--transparent mbr-navbar--sticky mbr-navbar--auto-collapse" id="menu-74" style="background-color: rgb(60, 60, 60); height: 70px;">
    <div class="mbr-navbar__section mbr-section" style="background-color: rgb(60, 60, 60); right: 0;">
        <div class="mbr-section__container container">
            <div class="mbr-navbar__container" style="height: 50px; padding-top: 0px; padding-bottom: 0px; ">
                <div class="mbr-navbar__column mbr-navbar__column--s mbr-navbar__brand">
                    <span class="mbr-navbar__brand-link mbr-brand mbr-brand--inline">
                        <!--<span class="mbr-brand__logo"><a ><img class="mbr-navbar__brand-img mbr-brand__img" src="./static/images/skola_2.png"></a></span>-->
                        <!--<span class="mbr-brand__name"><a class="mbr-brand__name text-white">Sckola</a></span>-->
                    </span>


                </div>
                <div class="mbr-navbar__hamburger mbr-hamburger text-white mbr-added">
                    <ul class="nav navbar-nav target" style="background-color: transparent;">
                    <li class="dropdown" style="background-color: transparent"><a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color: transparent">
                    <span class="mbr-hamburger__line" style="background-color: transparent"></span></a>
                        <ul class="dropdown-menu menu-login" style="border-radius:15px;box-shadow: 2px 3px 2px 2px #403a3a; background-color: rgb(60, 60, 60);">
                            <form>
                            <li><label style="margin-left: 10px; margin-top: 10px; color: #9c9c9c;">Correo Electrónico:</label></li>
                            <li><input type="text" style="margin-top: 10px" placeholder="Correo electrónico" id="inputEmailMenu"
                                                                              class="form-control input-sm"
                                                                              ng-model="vm.login.username"></li>
                            <li role="separator" class="divider"></li>
                            <li><label style="margin-left: 10px; margin-top: 10px; color: #9c9c9c">Contraseña:</label></li>
                            <li><input type="password" style="margin-top: 10px" id="inputPasswordMenu" placeholder="Contraseña"
                                                                              class="form-control input-sm"
                                                                              ng-model="vm.login.password"></li>
                            <li class="mbr-navbar__item"><input type="submit" id="goMenu" style="margin-top: 10px; width: 90%; margin-left: 10px; color: #9c9c9c; border-color: #9c9c9c;" class="mbr-buttons__btn btn btn-default btn-default" value="Ingresar" ng-click="vm.submit()"></li>
                            </form>
                            <!--<li class="mbr-navbar__item"><button id="registerMenu" style="margin-top: 10px; width: 90%; margin-left: 10px;" class="mbr-buttons__btn btn btn-default" ng-click="vm.openRegisterUser()">Registrarse</button></li>-->
                            <!--<li class="mbr-navbar__item"><button id="recoverMenu" style="margin-top: 10px; width: 90%; margin-left: 10px;" class="mbr-buttons__btn btn btn-default" ng-click="vm.openRecoverPass()">Recuperar contraseña</button></li>-->
                        </ul>
                    </li>
                    </ul>
                    </div>
                <div class="mbr-navbar__column mbr-navbar__menu">
                    <nav class="mbr-navbar__menu-box mbr-navbar__menu-box--inline-right">
                      <ul class="nav navbar-nav target " style="float: right;">
                          <form class="form-horizontal form-horizontal-login">
                              <fb:login-button
                                      scope="public_profile,email"
                                      onlogin="clickFb()">
                              </fb:login-button>
                              <span class="mbr-brand__name" style="margin-right: 10px;"><a class="mbr-brand__name text-white">Sckola</a></span>
                          <li>
                              <input type="text" style="margin-top: 10px; height: 30px;" placeholder="Correo electrónico" id="inputEmail"
                                     class="form-control input-sm"
                                      ng-model="vm.login.username">
                          </li>
                          <li><label style="width: 15px" ></label> </li>
                          <li>
                              <input type="password" style="margin-top: 10px; height: 30px;" id="inputPassword" placeholder="Contraseña"
                                     class="form-control input-sm"
                                     ng-model="vm.login.password">
                          </li>
                            <li><label style="width: 15px" ></label> </li>
                          <li class="mbr-navbar__item">
                              <input type="submit" id="go" style="margin-top: 10px; height: 35px; padding-top: 5px; padding-bottom: 5px;" class="mbr-buttons__btn btn btn-default login-btn" value="Ingresar" ng-click="vm.submit()">
                          </li>
                          </form>

                      </ul>
                      <div class="pull-right" style="margin-right: 15px">
                        <ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-inverse mbr-buttons--active">

                          <!--<li class="mbr-navbar__item">
                            <button id="register" style="margin-top: 10px;" class="mbr-buttons__btn btn btn-default" ng-click="vm.openRegisterUser()">Registrarse</button>
                          </li>
                          <li class="mbr-navbar__item">
                            <button id="recover" style="margin-top: 10px" class="mbr-buttons__btn btn btn-default" ng-click="vm.openRecoverPass()">Recuperar contraseña</button>
                          </li>-->
                        </ul>
                      </div>
                        <!--<div class="mbr-navbar__column"><ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-decorator mbr-buttons--active"><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="https://mobirise.com/bootstrap-template/one-page.html">ONE PAGE</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="https://mobirise.com/bootstrap-template/slider.html">SLIDER</a></li><li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="https://mobirise.com/bootstrap-template/video-background.html">VIDEO BG</a></li> <li class="mbr-navbar__item"><a class="mbr-buttons__link btn text-white" href="https://mobirise.com/bootstrap-template/blog.html">BLOG</a></li></ul></div>-->
                        <!-- <div class="mbr-navbar__column"><ul class="mbr-navbar__items mbr-navbar__items--right mbr-buttons mbr-buttons--freeze mbr-buttons--right btn-inverse mbr-buttons--active"><li class="mbr-navbar__item"><a class="mbr-buttons__btn btn btn-default" href="https://mobirise.com/bootstrap-template/mobirise-free-template.zip">DOWNLOAD</a></li></ul></div> -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
