<div class="col-md-12">
    <div class="center-block" align="center">
        <img src="../../../static/images/usuario.png" height="100" width=100" class="img-circle" />
    </div>
    <div align="center">
        <h3 class="text-muted" ng-hide="vm.user.firstName == null || vm.user.firstName == ''">
            Profesor: </br>{{vm.user.firstName}} {{vm.user.lastName}}
        </h3>
        <h4>¡Te damos la bienvenida!</h4>
        <a ng-click="$state.go('editProfile')">Actualiza tu perfil</a>
    </div>
    <div class="col-sm-12" ng-show="vm.showMyCommunities && $state.current.name !== 'communityList'" style="margin-top: 15px">
        <h4>
            Mi Comunidad
        </h4>
        <div class="col-sm-12">
            <select ng-model="vm.communitySelected" name="community" required
                    ng-options="community.name for community in vm.communitiesUser "
                    class="form-control center-block"
                    ng-change="vm.sendEvent(vm.communitySelected)">
                    <!--ng-change="vm.searchMatters()"-->
                <option value="">{{ community.name }}</option>
            </select>
        </div>
    </div>

</div>