<br/><br/>
<div set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-user" style="padding-right:10px;"></span>Notas</label>
    <br>
    <div style="height: 75px;margin-bottom:25px;">
      <div class="alert alert-info sckola-alert-info
                  alert-notify animate-show-hide"
           ng-show="vm.showHelp"
           ng-click="vm.helpUser()"
           role="alert">
          <label >{{vm.helpMessage}}</label>
      </div>
      <div class="alert alert-success sckola-alert-success
                  alert-notify success animate-show-hide"
           ng-show="vm.showSuccessMessage"
           role="alert">
           {{vm.successMessage}}
      </div>
      <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
           ng-show="vm.showErrorMessage" role="alert">
           {{vm.errorMessage}}
      </div>
    </div>
    <div class="row">
        <div class="animate-show-hide" ng-show="vm.terminate">
        <form role="form" name="formUploadNotes" class="form-horizontal">
            <!--<div class="alert alert-warning sckola-alert-warning
                        alert-notify animate-show-hide"
                 ng-show="false"
                 role="alert">
                <label >{{vm.messageInitial}}</label>
            </div>-->

            <div class="form-group form-horizontal-login" ng-hide="vm.showMessageInitial">
                <label for="filtro" class="col-sm-3 control-label text-color" style="padding-left:5%;margin-left: 3%; font-size: 20px;" ng-hide="vm.showClaseUnic">Clase: </label>
                <label class="col-sm-9 text-color" align="left" style="padding-left: 5%;margin-left: 3%; font-size: 20px;" ng-show="vm.showClaseUnic">Clase: {{vm.claseUnic.name}}</label>
                <div class="col-sm-6" style="margin-left: 2%; width: 50%;" ng-hide="vm.showClaseUnic">
                    <select ng-model="vm.claseUnic" id="filtro" name="filtro"
                            required
                            ng-options="clase.name for clase in vm.clase"
                            class="form-control center-block"
                            ng-change="vm.asignClase(vm.claseUnic)"
                            style="padding:0px 18px;">
                    </select>
                </div>
            </div>
            <br><br>
            <div class="animate-show-hide" ng-show="vm.show">
                <div class="form-horizontal-login">
                <div class="col-sm-6" style="width: 50%;">
                    <label class="text-color" style="font-size: 17px;padding-left: 5px;margin-left: 14%;">Evaluaci&oacute;n: {{ vm.evaluation.evaluationTool.name }}</label>
                </div>
                <div class="col-sm-6 pull-right" align="right" style="width: 50%;">
                    <label class="text-color" style="font-size: 17px;margin-right: 21%;">Fecha: {{ vm.evaluation.date}}</label>
                </div>
                </div>
                    <div class="col-sm-offset-1" style="width:95%; margin-top: 5%">
                        <ul class="list-group list-group-section">
                            <li ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'"
                                class="list-group-item list-group-section-item
                                       ember-view col-sm-12">
                                <div class="alignMiddler form-horizontal-login">
                                    <div class="col-sm-10" style="width: 80%;"><p class="color-white" ng-click="vm.selectEstudiante(estudiante)" style="font-size: 20px;">{{ estudiante.firstName }} {{estudiante.lastName}}</p></div>
                                    <div class="col-sm-2 form-horizontal-login upload-notes">
                                        <div ng-class="{mostrar: true == estudiante.validate}">
                                            <span class="circulo" ng-class="{mostrar: true == estudiante.validate}" style="position: absolute; z-index: 10;top: -25px; left: 1px;">!</span>
                                            <span class="tooltipstext" ng-class="{mostrar: true == estudiante.validate}">Seleccionar una nota</span>
                                            <div class="tooltips" ng-class="{mostrar: true == estudiante.validate}"></div>
                                        </div>
                                        <select ng-model="estudiante.qualification"
                                                name="scale" required
                                                ng-options="scale.value for scale in vm.escala track by scale.value"
                                                style="width: 80%; padding: 5%; margin: 0" ng-change="vm.cargarNota(estudiante);vm.validarNota(estudiante)">
                                        </select>
                                        <span style="padding: 5%"
                                              ng-click="vm.selectEstudiante(estudiante)"
                                              class="glyphicon glyphicon-eye-open color-white font-large">
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default sckola-btn shadow-feed-element" style="margin-left:25%; margin-top:5%; width: auto;" ng-click="vm.siguienteEvaluacion()" ng-show="vm.siguiente" ng-disabled="vm.notas">
                            Siguiente evaluaci&oacute;n
                        </button>
                    </div>
            </div>
            <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide"
                 ng-show="vm.messageClaseShow" role="alert">
                {{vm.messageClase}}
            </div>-->
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>
