<br/><br/>
<div set-screen-height>
    <label class="element-title text-color"><span class="glyphicon glyphicon-ok" style="padding-right:10px;"></span>Asistencia</label>
    <br/>
    <div class="row">
      <div class="col-sm-12" style="height: 75px;">
        <div ng-show="vm.showSuccessAssistance"
             class="alert alert-success sckola-alert-success
                    alert-notify success animate-show-hide"
             role="alert">
             {{vm.successMessage}}
        </div>
        <div ng-show="vm.showError"
             class="alert alert-danger sckola-alert-error alert-notify success animate-show-hide"
             role="alert"
             style="">
             {{vm.errorMessage}}
        </div>
        <div class="alert alert-info sckola-alert-info
                    alert-notify animate-show-hide"
             ng-show="vm.showHelp"
             ng-click="vm.helpUser()"
             role="alert">
            <label >{{vm.helpMessage}}</label>
        </div>
      </div>
        <div class="animate-show-hide col-sm-12" ng-show="vm.terminate">
        <form role="form" name="formAssistance" class="form-horizontal">

            <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.showMessageInitial && !vm.messageClaseShow" role="alert">
                <label>{{vm.messageInitial}}</label>

            </div>-->

            <!--<div  class="alert alert-success sckola-alert-success
                         alert-notify success animate-show-hide"
                  ng-show="vm.messageClaseShow" role="alert">
                <label>{{vm.messageClase}}</label>
            </div>-->
            <div class="form-group" ng-show="vm.showClaseUnic">

                <label for="filtro" align="left" class="col-sm-9 text-color" style="padding-left: 5%;margin-left: 3%; font-size: 20px;">Clase: {{vm.claseUnic.name}}</label>

            </div>
            <div class="form-group form-horizontal-login" ng-show="vm.showClases && vm.showType">

                <label for="filtro" class="col-sm-3 control-label text-color" style="width:30%; font-size: 20px; padding-left: 25px; padding-right:0; margin-left: 2%;">Tipo de clase:</label>
                <div class="col-sm-6 form-horizontal-login" style="padding: 0;">
                    <div class="col-sm-6 form-horizontal-login" ng-show="vm.typeIntegral" style="width: 50%;"><label class="text-color" style="font-size: 20px; margin-left: 2%; margin-top: 8%">
                        Integral</label><input type="radio" style="margin-top: 13%; width: 20%;" name="typeClass" ng-click="vm.typeClass(true)">
                    </div>
                    <div class="col-sm-6 form-horizontal-login" ng-show="vm.typeNotIntegral" style="width: 50%;"><label class="text-color" style="font-size: 20px; margin-left: 2%;  margin-top: 8%">
                        No Integral</label><input type="radio" style="margin-top: 13%; width: 20%;" name="typeClass" ng-click="vm.typeClass(false)">

                    </div>
                </div>
            </div>
            <br>
            <div class="form-group form-horizontal-login" ng-show="vm.seleccion">
                <label for="filtro" class="col-sm-3 control-label text-color form-horizontal-login" style="margin-left:10%; width:auto; font-size: 20px;">Clase:</label>
                <div class="col-sm-6">
                    <select ng-model="vm.claseSelect" id="filtro" name="filtro"
                            required
                            ng-options="clase.name for clase in vm.clase"
                            class="form-control center-block"
                            ng-change="vm.asignClase(vm.claseSelect)"
                            style="padding:0px 18px;">
                    </select>
                </div>
            </div>

            <br><br>

            <div class="col-sm-12 form-horizontal-login" align="right" ng-show="vm.show && !vm.showStudentsMessage">
                <label for="date" class="col-sm-9 text-color" style="width:75%;font-size: 18px;">Fecha: </label>

                <div class="col-sm-3" style="width: auto; padding: 0;">
                    <input class="form-control" id="date"
                           style="width:auto; font-size: 12px;padding: 2px;"
                           placeholder="dd-mm"
                           ng-model="vm.date" type="date" ng-max="vm.dateActual"
                           ng-change="vm.buscarAsistenciaPorFecha(vm.date)"/>
                </div>
            </div>
            <br>
            <br>
            <div class="animate-show-hide" ng-show="vm.show">
                <div class="col-sm-offset-1" style="width:95%;">
                    <ul class="list-group list-group-section">
                        <div ng-show="vm.showStudentsMessage"
                             class="alert alert-warning sckola-alert-warning
                                    alert-notify animate-show-hide"
                             role="alert"
                             style="position:initial">
                             {{vm.studentsMessage}}
                        </div>
                        <li ng-repeat="estudiante in vm.estudiantes | orderBy:'firstName'"
                            class="list-group-item list-group-section-item
                                   ember-view col-sm-12" style="" ng-show="vm.estudiantes.length > 0">
                            <div class="alignMiddler form-horizontal-login" >
                                <div class="col-sm-11" style="width: 90%">
                                  <p class="block-with-text color-white list-context"
                                     style="font-size:20px; margin-left: 0;">
                                     {{ estudiante.firstName }} {{estudiante.lastName}}
                                   </p>
                                </div>
                                <div class="col-sm-1" style="width: 10%">
                                    <input type="checkbox" ng-model="estudiante.assistance"
                                           ng-hide="vm.edit"
                                           ng-checked="estudiante.assistance">
                                    <input type="checkbox" ng-model="estudiante.assistance"
                                           ng-show="vm.edit"
                                           ng-click="vm.editarAsistencia(estudiante)"
                                           ng-checked="estudiante.assistance">
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div ng-show="vm.estudiantes.length > 0">
                    <button type="button" class="btn btn-default sckola-btn
                                                 shadow-feed-element animate-show-hide"
                            style="margin-left:35%; margin-top:5%; width: auto;" ng-hide="vm.edit || vm.estudiantes == null"
                            ng-click="vm.guardarAsistencia()">
                        Guardar
                    </button>
                    <button type="button" class="btn btn-default sckola-btn
                                                 shadow-feed-element animate-show-hide"
                            style="align-self: center; margin-left:35%; margin-top:5%; width: auto;"
                            ng-show="vm.edit && vm.estudiantes.length > 0" ng-click="vm.editarAsistencias()">
                        Editar
                    </button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="animate-show-hide" ng-show="!vm.terminate">
            <div style="margin-top: 20%; margin-left: 40%;">
                <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
            </div>
        </div>
    </div>
</div>
