<br/><br/><br/>

<label class="" style="font-size: 120%;margin-left: 45%;">Progreso</label>
<div class="mdl-shadow--4dp" id="circle" style="width: 150px; height: 150px; position: relative; border-radius: 700px;margin-left: 35%; margin-top: 8%;"></div>