
<nav class="navbar navbar-inverse navbar-fixed-top" style="height:60px;box-shadow: 0px 0px 10px 2px #211f1f;background-color:#263238;bottom: 695px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-brand navbar-title color-white" style="padding-left: 0 !important;" >
       <li class="dropdown nav-title" style="color:white"><span href="#" style="font-size:25px;" class="dropdown-toggle nav-title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img style="width: 80px;height: 60px;margin-top: -18px;" src="static/images/skola_2.png">Sckola<!--<span class="glyphicon glyphicon-menu-down"
                  style="font-size: 18px;margin-left: 5px;"></span>-->
            </span>
            <!--<ul id="style-1" class="dropdown-menu " style="border-radius:15px;max-height: 300px;overflow: auto;background-color: #484b4e;width:270px;box-shadow: 6px 12px 12px 3px #252121;">
              <label style="margin-left:30%" >Comunidades<span class="glyphicon glyphicon-globe"></span></label>
              <div ng-repeat="community in vm.communitiesUser" ng-click="vm.setCommunitySelected(community)"  ng-class="{'selected-community': community.id === vm.communitySelected.id}">
                <li role="separator" class="divider" style=""></li>
                 <li class="nav-list-item menu-hidden-item" ng-class="{'selected-community': community.id === vm.communitySelected.id}" style="text-align:left; display: flex;" ><button class="btn btn-default comunity-btn-list shadow-feed-element">{{community.name[0]}}</button><label   ng-click="" style="width:80%;">{{community.name}}</label> <span class="glyphicon glyphicon-ok" style="font-size: 20px; float: right; margin-top:10px; margin-right:20px;" ng-show="community.id === vm.communitySelected.id"></span></li>

               </div>
            </ul>-->
      </li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="margin:0;">
      </ul>
      <ul class="nav navbar-nav navbar-right navbar navbar-min div-dropdown">
          <li class="item-navbar-hidden progress-bar" style="background-color: transparent; width: 120px;">
              <div class="progress-barDiv" id="progress" style="margin-top: 10px;"></div>
          </li>
         <li class="dropdown navbar-li navbar-ul" style="color:white;">
           <a><i class="material-icons" id="tt2" ng-click="vm.goHome()">home</i></a>
            <div class="navbar-li-text" style="margin-top: -25px; margin-left: 10px; color: #9d9d9d;">Inicio</div>
         </li>
         <li class="dropdown navbar-li" style="color:white;margin-right: 15px;">
             <a class="dropdown nav-title icons" style="text-align: center; background-color: transparent;" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="material-icons" id="tt5">public</i></a>
             <div style="margin-top: -25px; margin-left: 10px; color: #9d9d9d;">Comunidades</div>
             <ul id="style-3" class="dropdown-menu " style="border-radius:15px;max-height: 300px;overflow: auto;background-color: #484b4e;width:270px;box-shadow: 6px 12px 12px 3px #252121;">
                 <!--<label style="margin-left:30%" >Comunidades<span class="glyphicon glyphicon-globe"></span></label>-->
                 <div ng-repeat="community in vm.communitiesUser" ng-click="vm.setCommunitySelected(community)"  ng-class="{'selected-community': community.id === vm.communitySelected.id}">
                     <li role="separator" class="divider" style=""></li>
                     <li class="nav-list-item menu-hidden-item" ng-class="{'selected-community': community.id === vm.communitySelected.id}" style="text-align:left; display: flex;" ><button class="btn btn-default comunity-btn-list shadow-feed-element">{{community.name[0]}}</button><label   ng-click="" style="width:80%;">{{community.name}}</label> <span class="glyphicon glyphicon-ok" style="font-size: 20px; float: right; margin-top:10px; margin-right:20px;" ng-show="community.id === vm.communitySelected.id"></span></li>

                 </div>
             </ul>
         </li>
          <li class="dropdown navbar-li mostrar3" style="color:white;" ng-click="vm.goToUploadNotes()">
              <a><i class="material-icons">folder</i></a>
              <div class="navbar-li-text" style="margin-top: -25px; margin-left: 10px; color: #9d9d9d;">Notas</div></li>
          <li class="dropdown navbar-li mostrar3" style="color:white;" ng-click="vm.goToAssistances()">
              <a><i class="material-icons">done</i></a>
              <div class="navbar-li-text" style="margin-top: -25px; margin-left: 10px; color: #9d9d9d;">Asistencia</div></li>
         <li class="dropdown navbar-li" style="color:white; margin-right: 15px;">
           <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
               <notification-icon count="vm.notifications" ng-click="vm.resetCount()"><i class="material-icons" id="tt3">mail</i></notification-icon>
           </a><div style="margin-top: -25px; color: #9d9d9d;">Mensajes</div>
           <ul  id="style-2" class="dropdown-menu nav-list" style="width:340%;border-radius:15px;overflow-y: scroll;max-height: 500%;">
             <div ng-repeat="new in vm.news">
               <!--<li class="nav-list-item" ng-if="new.type != 'INFO'" ><h5 style="margin-left:5%">{{new.from}}</h5> <h7 style="margin-left:4%;max-width:90%;">{{new.matter.name+" "+new.section.name}}</h7></li>-->
               <li class="nav-list-item"  ><h5 style="margin-left:5%">{{new.from}}</h5> <h7 style="margin-left:4%;max-width:90%;">{{new.text}}</h7></li>
               <li role="separator" class="divider"></li>
             </div>
             <div ng-if="vm.news.length == 0">
                 <li class="nav-list-item"><h4 style="margin-left:5%">{{vm.mensage}}</h4></li>
             </div>
           </ul>
         </li>
         <li class="dropdown navbar-li" style="color:white; margin-right: 15px;">
             <a class="dropdown-toggle nav-title icons" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color: transparent; text-align: center;">
                 <i class="material-icons" id="tt4">settings</i>
             </a><div style="margin-top: -25px; margin-left: 8px; color: #9d9d9d;">Configuración</div>
             <ul id="style-4" class="dropdown-menu list-group backgroundList shadow-feed-element list-menu-navbar" style="left: -100%; float:left; position: absolute; right: 0; top: 95%; padding: 0;">
                 <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCommunities()">Comunidades<span class="glyphicon glyphicon-globe pull-right"></span></li>
                 <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToStudents()">Estudiantes<span class="glyphicon glyphicon-user pull-right"></span></li>
                 <li class="list-group-item colorHyperLink list-background child" ng-click="vm.gotToEvaluations()">Evaluaciones<span class="glyphicon glyphicon-file pull-right"></span></li>
                 <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCourses()">Materias<span class="glyphicon glyphicon-book pull-right"></span></li>
                 <li class="list-group-item colorHyperLink list-background child mostrar2" ng-click="vm.goToUploadNotes()">Notas<span class="glyphicon glyphicon-folder-open pull-right"></span></li>
                 <li class="list-group-item colorHyperLink list-background child mostrar2" ng-click="vm.goToAssistances()">Asistencia<span class="glyphicon glyphicon-ok pull-right"></span></li>
             </ul>

             <!--<ul class="collapse list-group backgroundList shadow-feed-element list-menu-navbar" style="left: -230%; float:left; position: absolute; right: 0; top: 95%;" id="accordion2">
                 &lt;!&ndash;<li class="list-group-item colorHyperLink" style="background-color: #484b4e;"><label class="list-group color-white menu-hidden-item" ng-click="vm.goToProfile()" class="styleNavBar" style="margin-bottom: 0;">Perfil <span class="glyphicon glyphicon-user pull-right" style="margin-left: 78px;"></span></label></li>&ndash;&gt;
                 <li class="list-group-item list-item-menu item-menu" data-toggle="collapse" data-parent="#accordion1" href="#firstLink" style="background-color: inherit;border: none;">Administración <span class="glyphicon glyphicon-tasks pull-right" style="margin-left: 78px;"></span>

                     <ul id="firstLink" class="collapse list-group backgroundList">
                         <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToStudents()">Estudiantes<span class="glyphicon glyphicon-user pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCourses()">Materias<span class="glyphicon glyphicon-book pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" ng-click="vm.gotToEvaluations()">Evaluaciones<span class="glyphicon glyphicon-file pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" ng-click="vm.goToCommunities()">Comunidades<span class="glyphicon glyphicon-globe pull-right"></span></li>
                     </ul>

                 </li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" ng-click="vm.goToUploadNotes()"><label class="text-color menu-hidden-item styleNavBar">Notas <span class="glyphicon glyphicon-folder-open pull-right" style="margin-left: 78px"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" ng-click="vm.goToAssistances()"><label class="text-color menu-hidden-item styleNavBar">Asistencia <span class="glyphicon glyphicon-ok pull-right" style="margin-left: 48px;"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;"><label class="text-color menu-hidden-item styleNavBar">Reportes <span class="glyphicon glyphicon-stats pull-right" style="margin-left: 57px;"></span></label></li>
                 <li class="list-group-item colorHyperLink item-navbar-hidden" style="background-color: #484b4e;" data-toggle="collapse" data-target="#secondLink" data-parent="#accordion2"><label class="text-color menu-hidden-item styleNavBar">Administración <span class="glyphicon glyphicon-tasks pull-right" style="margin-left: 18px;"></span></label>
                     <ul id="secondLink" class="collapse list-group backgroundList">
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToStudents()">Estudiantes<span class="glyphicon glyphicon-user pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToCourses()">Materias<span class="glyphicon glyphicon-book pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.gotToEvaluations()">Evaluaciones<span class="glyphicon glyphicon-file pull-right"></span></li>
                         <li class="list-group-item colorHyperLink list-background child" style="text-align: -webkit-auto;" ng-click="vm.goToCommunities()">Comunidades<span class="glyphicon glyphicon-globe pull-right"></span></li>
                     </ul>
                 &lt;!&ndash;<li class="list-group-item colorHyperLink" style="background-color: #484b4e;"><label class="menu-hidden-item" class="text-color" class="styleNavBar">Lenguaje <span class="glyphicon glyphicon-font pull-right" style="margin-left: 50px;"></span></label></li>
                 <li class="list-group-item colorHyperLink" ng-click="vm.goToRoot()" style="background-color: #484b4e; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;"><label class="menu-hidden-item text-color styleNavBar">Logout <span class="glyphicon glyphicon-off pull-right" style="margin-left: 60px;"></span></label></li>-&ndash;&gt;
             </ul>-->


        </li>
          <li class="dropdown navbar-li" style="color:white;margin-right: 15px;">
              <a ng-click="vm.goToProfile()"><i class="material-icons" id="tt6">person</i></a>
              <div  class="navbar-li-text" style="margin-top: -25px; margin-left: 10px; color: #9d9d9d;">Perfil</div>

          </li>
          <li class="dropdown navbar-li" style="color:white; margin-right: 15px;">
              <a ng-click="vm.goToRoot()"><span style="margin-top: 6px;" class="glyphicon glyphicon-off "></span></a>
              <div class="navbar-li-text" style="margin-top: -22px; margin-left: 10px; color: #9d9d9d;">Salir</div>
          </li>
      </ul>
    </div>
  </div>
</nav>




<!----- NEW NAVBAR ----->
<!----- NEW NAVBAR ----->
<!----- NEW NAVBAR ----->

<!---

<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

    <header class="demo-header mdl-layout__header mdl-color--blue-grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Sckola</span>
            <div class="mdl-layout-spacer"></div>
          <span class="mdl-button mdl-button--icon"><i id="tt2" class="material-icons">home</i><div class="mdl-tooltip" for="tt2">Home</div>
</span>
            <span class="mdl-button mdl-button--icon"><i id="tt3" class="material-icons">mail</i><div class="mdl-tooltip" for="tt3">Mensajes</div></span>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Enter your query...</label>
                </div>
            </div>

            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
                <div class="mdl-tooltip" for="hdrbtn">Ajustes</div>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">Perfil</li>
                <li class="mdl-menu__item">Administracion</li>
                <li class="mdl-menu__item">Logout</li>
            </ul>
        </div>
    </header>

--->