<div class="modal-content" style="background-color: #484b4e;border-color: black;">
  <div class="modal-header sckola-modal-header">
    <label class="color-white sckola-modal-title">Agregar estudiantes a la Clase {{vm.claseInvitacion.matterCommunity.name}} {{vm.claseInvitacion.section.name}}</label>
</div>
<div class="row modal-body sckola-modal-body">
    <div class="col-sm-12">
        <label class="color-white">Buscar estudiante:</label><input type="text" style="margin-left:2%;" ng-model="vm.filtro">
        <br><br>
        <ul class="list-group" >
            <li ng-repeat="student in vm.students| filter: vm.filtro |orderBy:'firstName'" class="list-group-item modal-list-item col-sm-12" style="width: 100%">
                <div class="col-sm-12 alignMiddler div-container" ng-class="{'entro':student.asignado}">
                    <div class="col-sm-2" style="width: 20%; padding: 0;">
                        <a class="feed-s-pymk-list-item__profile-link ember-view">
                            <img src="static/images/ghostPerson.png" class="image-student EntityPhoto-circle-3 ghost-person modal-list-image" >
                        </a>
                    </div>
                    <div style="display: flex; width: 80%">
                    <div class="col-sm-7 alignText" style="width: 80%;">
                        <label class="feed-s-pymk-list-item__profile-link ember-view">
                            <h4 class="color-white" style="font-size:large">{{student.firstName}} {{student.secondName}} {{student.lastName}} {{student.secondLastName}}</h4>
                        </label>
                        <p class="color-white" style="font-size:large; width: 200%; word-break: break-word;">
                            {{student.mail}}
                        </p>
                    </div>
                    <div class="col-sm-3 alignText div-student-buttom">
                        <button ng-show="!student.asignado"  class="btn btn-default sckola-btn modal-list-btn animate-show-hide" style="width: 100%"  ng-click="vm.Invitation(student)">
                            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button ng-show="student.asignado" class="btn btn-default sckola-btn modal-list-btn animate-show-hide" style="width: 100%" ng-click="vm.quitarInvitacion(student)">
                            <span aria-hidden="true" class="glyphicon glyphicon-minus"></span>
                        </button>
                    </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default sckola-btn shadow-feed-element button-modal" style="float: left" ng-click="vm.cancel()">
        <span aria-hidden="true">Cancelar <span class="glyphicon glyphicon-remove"></span></span>
    </button>
    <button class="btn btn-default sckola-btn shadow-feed-element button-modal" style="float: right" ng-disabled="vm.invitationStudent == false"  ng-click="vm.addstudentSection()">
        <span aria-hidden="true">Invitar <span class="glyphicon glyphicon-ok"></span></span>
    </button>
</div>
</div>
