<div class="modal-content" style="background-color: #484b4e;border-color: black;">
    <div class="modal-header sckola-modal-header">
        <label class="color-white sckola-modal-title">Error</label>
    </div>
    <div class="row modal-body sckola-moda-body" style="text-align: center;">
        <label class="color-white">{{vm.mensajeError}}</label>
    </div>
    <div class="modal-footer">
        <button class = "btn btn-default sckola-btn pull-right shadow-feed-element" type="button" ng-click="vm.salir()">
            <span class="glyphicon glyphicon-ok glyphicon-ok-small"></span>
        </button>
    </div>
</div>