<!-- Carousel==================================================-->
<div id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1" class=""></li>
		<li data-target="#myCarousel" data-slide-to="2" class=""></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="static/images/skola_2.png" style="width:100%" class="img-responsive"
				 contenteditable="false">
			<div class="container">
				<div class="carousel-caption">
					<h1 class="">SKOLA</h1>
					<p class=""></p>
					<p class=""><a class="btn btn-lg btn-primary" href="#">LEER MÁS 1</a>

					</p>
				</div>
			</div>
			<button type="submit" class="btn" contenteditable="false">Iniciar Sesion</button>
		</div>
		<div class="item">
			<img src="static/images/mapa.png" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
					<h1 class="">INFORMACIÓN 1 </h1>

					<p class="">TEXTO DESCRIPTIVO.</p>
					<p class=""><a class="btn btn-large btn-primary" href="#">LEER MÁS</a>

					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<img src="static/images/testimonial.jpg" class="img-responsive">
			<div class="container">
				<div class="carousel-caption">
					<h1 class="">INFORMACIÓN</h1>

					<p class="">TEXTO DESCRIPTIVO.</p>
					<p class=""><a class="btn btn-large btn-primary" href="#">LEER MÁS</a>

					</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" ng-non-bindable data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" ng-non-bindable data-slide="next">
		<span class="icon-next"></span>
	</a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes==================================================-->
<!-- Wrap the rest of the page in another container to center all the
content. -->