 <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background mbr-after-navbar" id="header1-73" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="background-position: 50% 0%; background-repeat: no-repeat; background-image: url(&quot;./static/images/profesor.png&quot;); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1584px 1055.17px; visibility: visible; transform: translate3d(0px, 0px, 0px);"></div></div>
     <div class="mbr-box__magnet mbr-box__magnet--sm-padding mbr-box__magnet--center-left">
         <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(76, 105, 114);"></div>
         <div class="mbr-box__container mbr-section__container container">
             <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left">
                 <div class="row">
                     <div class="logo" style="">
                         <img src="./static/images/skola_2.png" style="width: 360px;height: 270px;"></div>
                     <div class=" col-sm-12">
                     <div class="mbr-hero animated fadeInUp text-header">
                         <br><br><br>
                         <h1 class="mbr-hero__text">¿Qué es Sckola?</h1>
                         <h4 class="mbr-hero__text">Es una plataforma colaborativa <br>de apoyo a la comunidad docente.<br></h4>
                         <div class="col-sm-12">
                         <div id="fb-root"></div>
                         <!--<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
                         <fb:login-button
                                 scope="public_profile,email"
                                 onlogin="clickFb()">
                         </fb:login-button>-->
                         </div>
                     </div>
                 </div></div>
             </div></div>
         </div>
         <div class="mbr-arrow mbr-arrow--floating text-center">
             <div class="mbr-section__container container">
                <!-- <a class="mbr-arrow__link" href="https://mobirise.com/bootstrap-template/one-page.html#features1-75"><i class="glyphicon glyphicon-menu-down"></i></a>-->
                 <a class="mbr-arrow__link" ><i class="glyphicon glyphicon-menu-down"></i></a>
             </div>
         </div>
     </div>
 </section>

 <section class="content-2 col-4" id="features1-75" style="background-color: rgb(255, 255, 255);">
     <div class="container">
         <div class="row">
             <div style="width: 100%;" class="title-home">
             <h1 class="mbr-hero__text title-text">Ventajas</h1></div>
             <div>
                 <div class="thumbnail">
                     <div class="image" align="center"><img class="undefined" src="./static/images/profesoraYpizarra1.png"></div>
                     <div class="caption">
                         <div>
                             <p><b style="font-weight: bolder">Como Profesor</b> ahorras tiempo y mucho papel. Puedes ser más eficiente en la entrega de resultados. Podrás crear comunidades de docentes y mucho más.
                                 .&nbsp;</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image" align="center"><img class="undefined" src="./static/images/representantes.png"></div>
                     <div class="caption">
                         <div>
                             <p><b style="font-weight: bolder">Como Representante</b> podrás intercambiar textos. Podrás gestionar los pagos mensuales e invitar a otros representantes a unirse a Sckola.</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/alumna.png"></div>
                     <div class="caption">
                         <div>
                             <p><b style="font-weight: bolder">Como Alumno</b> podrás estar conectado con tus profesores y compañeros y saber cómo van tus calificaciones.</p>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/colegio2.png"></div>
                     <div class="caption">
                         <div>
                             <p><b style="font-weight: bolder">Como Colegio</b> podrán recibir los cronogramas educativos, calificaciones, entre otros documentos de forma digital. Obtendrán un ahorro muy importante en el gasto de papel y tiempo.</p>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <section class="content-2 col-4" style="height: 350px;">

 </section>
 <section class="content-2 col-4" id="features1-77" style="background-color: rgb(28, 73, 110);">

     <div class="container">
         <div class="row">
             <div style="width: 100%;" class="title-home">
                 <h1 class="mbr-hero__text title-text" style="color: #FFFFFF">Características</h1></div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/professor.png"></div>
                     <div class="caption">
                         <div style="color: #FFFFFF" >
                             <h3>Como Profesor: </h3>
                             <div style="text-align: left">
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Puedes gestionar materias.</br></br>
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Gestionar la asistencia.</br></br>
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Llevar la relación de notas y el control de tareas.</br></br>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/student (2).png"></div>
                     <div class="caption">
                         <div style="color: #FFFFFF" >
                             <h3>Como Alumno: </h3>
                             <div style="text-align: left">
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Podrás recibir notificaciones.</br></br>
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Recibirás recordatorios de evaluaciones.</br></br>
                             <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                             Podrás publicar información e imágenes.</br></br>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/couple (2).png"></div>
                     <div style="color: #FFFFFF" >
                         <h3>Como Representante: </h3>
                         <div style="text-align: left">
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Puedes recibir notificaciones de evaluaciones.</br></br>
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Recibir reportes y crear comunidades.</br></br>
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Además de invitar a otros representantes, también puedes hacerlo con otros colegios.</br></br>
                         </div>
                     </div>
                 </div>
             </div>
             <div>
                 <div class="thumbnail">
                     <div class="image"><img class="undefined" src="./static/images/school (1).png"></div>
                     <div style="color: #FFFFFF; margin-top: 12px;" >
                         <h3>Como Colegio: </h3>
                         <div style="text-align: left">
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Podrán crear programas de materias.</br></br>
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Compilar asistencias. Crear indicadores generales del colegio.</br></br>
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Podrán hacer evaluaciones 360 del personal.</br></br>
                         <img class="socicon" style="width: 9%"  src="./static/images/pencil.png">
                         Además podrán recibir los pagos de las mensualidades.</br></br>
                         </div>
                     </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>
 <section class="content-2 col-4" style="height: 350px;">

 </section>
<section class="content-2 col-3" id="features1-80" style="background-color: rgb(239, 239, 239);">

    <div class="container">
        <div class="row">
            <div style="width: 100%;" class="title-home">
                <h1 class="mbr-hero__text title-text">Accesibilidad</h1></div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="./static/images/hand-gesture.png"></div>
                    <div class="caption">
                        <div>
                            <h3>COMPATIBLE CON ANDROID</h3>
                            <p><b>Para que puedas usarlo donde quiera que estés sin complicaciones.</b></p>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="./assets/one-page_files/anemone-350x350-67.png"></div>
                    <div class="caption">
                        <div>
                            <h3>FACIL DE USAR</h3>
                            <p><b>Su manejo es muy sencillo y didáctico. Está diseñado para  estudiantes, padres y docentes. Puedes usarlo en la web o en tu móvil.</b></p>
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="thumbnail">
                    <div class="image"><img class="undefined" src="./static/images/free.png"></div>
                    <div class="caption">
                        <div>
                            <h3>LIBRE</h3>
                            <p><b>Si eres docente, puedes utilizarlo completamente gratis.
                                .</b></p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
 <section class="content-2 col-4" style="height: 350px;">

 </section>
 <section class="pricing-table-1 col-4" id="pricing-table1-86" style="background-color: rgb(240, 240, 240);">


     <div class="container" style="max-width: 1200px;">
         <div class="row">
             <div style="width: 100%;" class="title-home">
                 <h1 class="mbr-hero__text title-text">Membresía</h1></div>
             <div>
                 <div class="plan gray">
                     <h3>ESTUDIANTE</h3>
                     <p class="price">
                         <strong><sup>$</sup><span>0</span></strong>
                         <small>per month</small>
                     </p>
                     <div><ul><li><strong>32 GB</strong> Storage</li><li><strong>Unlimited</strong>                 Users</li><li><strong>15 GB</strong> Bandwidth</li></ul></div>
                     <!--<p><a class="btn btn-success">INFO...</a></p>-->
                 </div>
             </div>
             <div>
                 <div class="plan gray">
                     <h3>REPRESENTANTE</h3>
                     <p class="price">
                         <strong><sup>$</sup><span>0</span></strong>
                         <small>per month</small>
                     </p>
                     <div><ul><li><strong>80 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>20 GB</strong> Bandwidth</li></ul></div>
                     <!--<p><a class="btn btn-success">INFO...</a></p>-->
                 </div>
             </div>
             <div>
                 <div class="plan favorite">
                     <h3>PROFESOR</h3>
                     <p class="price">
                         <strong><sup>$</sup><span>0</span></strong>
                         <small>per month</small>
                     </p>
                     <div><ul><li><strong>100 GB</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>50 GB</strong> Bandwidth</li></ul></div>
                     <p><a mp-mode="dftl" href="https://www.mercadopago.com/mlv/checkout/start?pref_id=350432939-ae86a7b3-8911-4065-b47a-15d9f82a9f05" name="MP-payButton" class='blue-ar-l-rn-none'>Comprar</a>
                         <script type="text/javascript">
                             (function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
                         </script></p>
                 </div>
             </div>
             <div>
                 <div class="plan gray">
                     <h3>COLEGIO</h3>
                     <p class="price">
                         <strong><sup>$</sup><span>0</span></strong>
                         <small>per month</small>
                     </p>
                     <div><ul><li><strong>Unlimited</strong> Storage</li><li><strong>Unlimited</strong> Users</li><li><strong>1TB GB</strong> Bandwidth</li></ul></div>
                     <!--<p><a class="btn btn-success">INFO...</a></p>-->
                 </div>
             </div>
         </div>
     </div>
 </section>
 <section class="content-2 col-4" style="height: 350px;">

 </section>
 <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="testimonials1-88" style="background-color: rgb(255, 255, 255);">
     <div>

         <div class="mbr-section__container mbr-section__container--std-padding container">
             <div class="row">
                 <div class="col-sm-12">
                     <h2 class="mbr-section__header">¿Qué opinan nuestros usuarios?</h2>
                     <ul class="mbr-reviews mbr-reviews--wysiwyg row">
                         <li class="mbr-reviews__item col-sm-6 col-md-4">
                             <div class="mbr-reviews__text"><p class="mbr-reviews__p">“Desde que utilizo Sckola, mi planificación cambió. Ahora tengo más tiempo para dedicarle a mis alumnos y a mi familia. También me conecto más fácilmente con sus representantes. Ya no tengo que imprimir nada y toda la información de mis alumnos está en un solo lugar.”</p></div>
                             <div class="mbr-reviews__author mbr-reviews__author--short">
                                 <div class="mbr-reviews__author-name">Erika</div>
                                 <div class="mbr-reviews__author-bio">Docente</div>
                             </div>
                         </li><li class="mbr-reviews__item col-sm-6 col-md-4">
                             <div class="mbr-reviews__text"><p class="mbr-reviews__p">“Pienso que es una herramienta muy útil que nos permite estar al día con la educación de nuestros representados. He podido revisar las calificaciones de mi hija y mantener el contacto con otros representantes.”</p></div>
                             <div class="mbr-reviews__author mbr-reviews__author--short">
                                 <div class="mbr-reviews__author-name">Luisa</div>
                                 <div class="mbr-reviews__author-bio">Representante</div>
                             </div>
                         </li><li class="mbr-reviews__item col-sm-6 col-md-4">
                             <div class="mbr-reviews__text"><p class="mbr-reviews__p">“Esta herramienta nos permite recopilar la información que genera cada docente en tiempo récord. Además el ahorro en gasto de papel y tiempo ha sido considerable. ”</p></div>
                             <div class="mbr-reviews__author mbr-reviews__author--short">
                                 <div class="mbr-reviews__author-name">Ernesto</div>
                                 <div class="mbr-reviews__author-bio">Director</div>
                             </div>
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
 </section>

 <!--<section class="mbr-section mbr-section&#45;&#45;relative mbr-section&#45;&#45;fixed-size" id="form1-89" style="background-color: rgb(239, 239, 239);">

     <div class="mbr-section__container mbr-section__container&#45;&#45;std-padding container">
         <div class="row">
             <div class="col-sm-12">
                 <div class="row">
                     <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                         <div class="mbr-header mbr-header&#45;&#45;center mbr-header&#45;&#45;std-padding">
                             <h2 class="mbr-header__text">¿Necesitas mayor información? ¡Contactenos!</h2>
                         </div>
                         <div data-form-alert="true"></div>
                         <form action="https://mobirise.com/" method="post" data-form-title="CONTACT FORM">
                             <input type="hidden" value="" data-form-email="true">
                             <div class="form-group">
                                 <input type="text" class="form-control" name="name" required="" placeholder="Name*" data-form-field="Name">
                             </div>
                             <div class="form-group">
                                 <input type="email" class="form-control" name="email" required="" placeholder="Email*" data-form-field="Email">
                             </div>
                             <div class="form-group">
                                 <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                             </div>
                             <div class="form-group">
                                 <textarea class="form-control" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                             </div>
                             <div class="mbr-buttons mbr-buttons&#45;&#45;right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-warning">Contactenos</button></div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </section>-->
 <section class="content-2 col-4" style="height: 350px;">

 </section>
 <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts2-90" style="background-color: rgb(60, 60, 60);">

     <div class="mbr-section__container container">
         <div class="mbr-contacts mbr-contacts--wysiwyg row">
             <div class="col-sm-6">
                 <div class="row">
                     <div class="col-sm-offset-1">
                         <p class="mbr-contacts__text"><h5 class="mbr-header__text">Ubicación</h5><br>
                             <img class="socicon" style="width: 10%" src="./static/images/venezuela_flag.png">Av. Urdaneta, Abanico a Socorro. Caracas - Venezuela<br>
                             <img class="socicon" style="width: 10%" src="./static/images/argentina_flag.png">Sánchez de Loria, Buenos Aires, Ciudad autónoma de Buenos Aires - Argentina.<br>
                             <img class="socicon" style="width: 10%" src="./static/images/peru_flag.png">Av. Manuel Cipriano Dulanto (Ex La Mar) alt cuadra 18 Pasaje 2 Lima - Perú.<br>
                         </p>
                     </div>
                 </div>
             </div>
             <div class="col-sm-3">
                 <p class="mbr-contacts__text"><h5 class="mbr-header__text"><b>Contactos</b><br></h5><br>
                 Email: <u style="font-size: 20px;">info@posmagroup.com</u><br>
                 Phone: +58 (212)  564.15.20<br></p>
             </div>
             <div class="col-sm-3">
                 <div class="row">
                 <div class="col-sm-4">
                     <p class="mbr-contacts__text"><h5 class="mbr-header__text">¡SIGUENOS!</h5></p>
                 </div>
                 <div class="mbr-social-icons col-sm-12">
                     <br>
                     <div class="mbr-social-likes social-likes_style-1 social-likes social-likes_visible social-likes_ready" data-counters="true" style="margin-left: 20px;">
                         <div class="mbr-social-icons__icon social-likes__icon facebook socicon-bg-facebook" title="Share link on Facebook">
                             <a href="https://www.facebook.com/sckola"><img style="margin-top: -11px; width: 72px; margin-left: -7px;" class="socicon socicon-facebook" src="./static/images/facebook.png"></a>
                             <span class="social-likes__counter social-likes__counter_facebook social-likes__counter_empty"></span></a></div>
                         <div class="mbr-social-icons__icon social-likes__icon " >
                             <a href="https://www.instagram.com/proyectosckola/"> <img style="margin-top: -11px; width: 77px; margin-left: -11px;" class="socicon socicon-facebook" src="./static/images/instagram.png"></a>
                         </div>
                     </div>
                 </div>
                </div>
             </div>
         </div>
         <div class="mbr-contacts mbr-contacts--wysiwyg row" style="text-align: center">
             <a class="mbr-contacts mbr-contacts--wysiwyg" style="text-decoration-line: none;" href="https://www.posmagroup.com"><p class="mbr-contacts__text"><b>By Posma Group</b></p></a>
         </div>
     </div>
 </section>
