<br/><br/>
<div set-screen-height>

  <label class="element-title text-color"><span class="glyphicon glyphicon-book" style="padding-right:10px;"></span>Materias</label>
  <br/>

  <div class="col-sm-12" style="height: 75px;">
    <div class="alert alert-success sckola-alert-success alert-notify success animate-show-hide" ng-show="vm.showSuccessMessage" style="margin-left: 24%;" role="alert">{{vm.successMessage}}</div>
    <div class="alert alert-info sckola-alert-info
          alert-notify animate-show-hide"
          ng-show="vm.showHelp"
          ng-click="vm.helpUser()"
          role="alert">
      <label >{{vm.helpMessage}}</label>
    </div>
    <div class="alert alert-danger sckola-alert-error alert-notify error animate-show-hide"
         ng-show="vm.showError" role="alert">
         {{vm.errorMessage}}
    </div>
  </div>
<!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.communityMatters.length === 0" role="alert">
<label >No existe ninguna clase en esta comunidad.</label>
</div>-->
<div class="row">
  <div class="animate-show-hide" ng-show="vm.terminate">
    <form role="form" name="formMatter" class="form-horizontal">

      <div class="col-sm-offset-1" style="width: 95%;">
        <ul class=" list-group list-group-section" style="margin-top:12%">
          <li class="list-group-item initial-message col-sm-12" ng-show="vm.showMessageInitial" style="">
            <div  class="col-sm-12">
              <!--<div class="alert alert-warning sckola-alert-warning alert-notify animate-show-hide" ng-show="vm.showMessageInitial && !vm.messageClaseShow" role="alert">
              <label >{{vm.messageInitial}}</label>
            </div>-->


          </div>
        </li>
        <li  ng-repeat="item in vm.communityMatters|orderBy:'matterCommunity.name'" class="list-group-item list-group-section-item  sizeCourses ember-view col-sm-12" ng-hide="vm.showMessageInitial">
          <div class="alignMiddler div-container">
            <div  class="col-sm-2" style="width: 20%">
              <a class=" EntityPhoto-circle-3">
                <img src="static/images/book.png" class="list-group-section-image">
              </a>
            </div>
            <div class="form-horizontal-login div-list-content" style="width: 80%;">
              <div class="col-sm-6 alignText color-white" style="width: 50%">
                <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                  {{item.matterCommunity.name}}
                </label>
              </div>
              <div class="col-sm-3 alignText color-white div-list">
                <label class="feed-s-pymk-list-item__profile-link ember-view list-group-section-text list-context">
                  {{item.section.name}}
                </label>
              </div>
              <div class="alignIcons col-sm-2 color-white div-list">
                <span class="glyphicon glyphicon-remove span-glyphicon-list"
                aria-hidden="true" title="Desasociar materia"
                ng-click="vm.matterCommunitySectionDisassociate(item)"></span>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <button style="margin-top: 50px;" ng-click="vm.matterNew()" ng-hide="vm.showMessageInitial" class="btn btn-default sckola-btn-courses shadow-feed-element pull-right btn-matter">
        Añadir <span class="glyphicon glyphicon-plus"></span>
      </button>


    </div>
  </form>
</div>
<div class="animate-show-hide" ng-show="!vm.terminate">
  <div style="margin-top: 20%; margin-left: 40%;">
    <label class="text-color" style="font-size: 20px;"><img src="static/images/cargando.gif" style="width: 25px"> Cargando</label>
  </div>
</div>
</div>
</div>
